/* Tom McClintock Webste Resign (Prototype) 
 * Author: Chris Griffith
 * URL: chrisjg77.github.com/mcclintock-redesign
 */
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("http://fonts.googleapis.com/css?family=Lora");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  width: 100%;
  background: white;
  height: 58px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  position: fixed;
  z-index: 100; }
  @media screen and (min-width: 601px) {
    header {
      height: 70px; } }
  @media screen and (min-width: 1025px) {
    header {
      position: relative;
      height: 72px; } }

.main-nav {
  position: absolute;
  top: 0;
  width: 50%;
  float: left;
  border-top: 4px solid #cccccc; }

.main-nav-left {
  left: 0;
  padding-right: 175px; }
  .main-nav-left ul {
    float: right;
    padding-right: 1em; }

.main-nav-right {
  right: 0;
  padding-left: 175px; }

.off-canvas {
  right: 0;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #1f1f1f;
  z-index: 1; }
  @media screen and (min-width: 601px) {
    .off-canvas {
      width: 350px; } }

nav,
section,
aside,
.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#outer-content-wrap {
  background: white; }

.wrap {
  display: block;
  margin: 0 auto; }

.inner-wrap-full {
  max-width: 1280px; }

.inner-wrap-content {
  max-width: 800px; }

.inner-wrap-teaser {
  max-width: 750px; }

article {
  border-bottom: 1px solid #ebebeb;
  padding-top: 1px; }
  @media screen and (min-width: 601px) {
    article {
      border: none; } }

article > .inner {
  padding: 0 2.5em 0 2em; }

.aside-header {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  background: silver;
  padding: 1em 1em 0.75em;
  margin: 0; }

.aside-header-ligher {
  background: #d4d4d4; }

.aside-darker {
  background: #fafafa; }

section {
  width: 100%; }

.col {
  float: left;
  width: 100%; }

@media screen and (min-width: 601px) {
  .col-sm-35 {
    width: 35%; }

  .col-sm-50 {
    width: 50%; }

  .col-sm-65 {
    width: 65%; } }
@media screen and (min-width: 769px) {
  .col-sm-50 {
    width: 50%; } }
@media screen and (min-width: 1025px) {
  .col-lg-20 {
    width: 20%; }

  .col-lg-25 {
    width: 25%; }

  .col-lg-30 {
    width: 30%; }

  .col-lg-50 {
    width: 50%; } }
html {
  font-size: 16px;
  color: #4d4d4d; }
  @media screen and (min-width: 601px) {
    html {
      font-size: 18px; } }

p {
  font-family: "Lora", "Georgia", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 100;
  line-height: 1.75;
  padding-left: 0;
  margin-bottom: 1em; }

a {
  font-family: "Lato", "Helvetica", sans-serif;
  text-decoration: none;
  color: #3c80af; }

a:hover {
  text-decoration: underline; }

em {
  font-family: "Lato", "Helvetica", sans-serif;
  padding-left: 0;
  line-height: 1.3;
  display: block; }

sub {
  font-size: 0.7em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  color: #343434;
  margin: 0.75em 0 0.25em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #343434; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.05em; }

h4 {
  font-size: 0.95em;
  margin-bottom: 0.5em; }

nav a {
  font-family: "Lato", "Helvetica", sans-serif;
  text-transform: uppercase;
  text-decoration: none; }

.main-nav-links {
  font-size: 0.8em;
  margin: -4px auto 0;
  position: relative;
  z-index: 102; }
  .main-nav-links li {
    float: left; }
  .main-nav-links a {
    color: #404040;
    display: block;
    padding: 2em 0.75em;
    opacity: 0.5;
    border-top: 4px solid #cccccc;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  .main-nav-links a:hover,
  .main-nav-links a:focus,
  .main-nav-links a.active {
    opacity: 1;
    border-color: gray;
    text-decoration: none; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

@media screen and (min-width: 1025px) {
  .lg-hidden {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  .lg-only-hidden {
    display: none !important; } }

@media screen and (max-width: 1025px) {
  .lg-only-visible {
    display: none !important; } }
@media screen and (min-width: 1025px) {
  .lg-only-visible {
    display: block !important; } }

.site-brand {
  width: 220px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }
  @media screen and (min-width: 601px) {
    .site-brand {
      width: 325px; } }
  @media screen and (min-width: 1025px) {
    .site-brand {
      width: 350px; } }
  .site-brand img {
    width: 100%; }

.site-brand-wrap {
  width: 100%;
  position: absolute;
  z-index: 101;
  text-align: center; }

.feature-banner {
  position: relative;
  overflow: hidden;
  background: #333; }

.feature-overlay {
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.85));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.85));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.85));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, transparent, rgba(0, 0, 0, 0.85));
  /* Standard syntax */ }

.sliding {
  width: 100%;
  position: relative; }

.sliding-lg {
  height: 450px; }

.post-banner {
  height: 500px; }

.slide {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("../img/feature-graphic-1.jpg") no-repeat;
  background-position: center 50%; }
  @media screen and (min-width: 1025px) {
    .slide {
      background-size: 1800px auto; } }

.meta {
  color: #b3b3b3;
  font-size: 0.85em;
  font-weight: 300; }
  .meta a:hover {
    text-decoration: none; }

.meta-sm {
  font-size: 0.75em; }

.meta-activity {
  max-width: 175px;
  padding-bottom: 1em; }
  @media screen and (min-width: 601px) {
    .meta-activity {
      border-bottom: 1px solid #ebebeb; } }
  .meta-activity a {
    color: #b3b3b3; }
  .meta-activity i {
    font-size: 1.2em; }
  .meta-activity span {
    margin: 0 1em 0 0.5em; }

.blog-item:first-child {
  padding-top: 1em; }

.teaser {
  color: gray;
  margin: 2em 0; }
  .teaser p {
    font-size: 0.9em; }

.feed {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6; }

@media screen and (min-width: 601px) {
  .feed-item {
    border: none; } }

.feed-item .inner {
  padding: 1.5em 1.5em 1.4em 1em; }
  @media screen and (min-width: 601px) {
    .feed-item .inner {
      border-bottom: 1px solid #ebebeb; } }

.tag {
  display: table; }

.tag > * {
  background: #ccc;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  width: auto;
  padding: 0 0.35em;
  height: 22px;
  min-width: 1em;
  color: #fff;
  display: table-cell !important; }

.tag i {
  font-size: 14px; }
.tag a {
  border-left: 1px solid #fff;
  font-size: 11px;
  padding: 0 0.75em; }
.tag a:hover {
  text-decoration: none; }

.tag-audio > * {
  background: #245277; }

.tag-video > * {
  background: #bc4b4b; }

.icon {
  width: 25px;
  height: 25px;
  border: none;
  font-size: 0;
  outline: none; }

.icon-bars {
  background: url("../img/svg/icon-bars.svg") no-repeat center center;
  background-size: 100%; }

.main-nav-handle-wrap {
  position: absolute;
  top: 15px;
  right: 15px; }
  @media screen and (min-width: 601px) {
    .main-nav-handle-wrap {
      top: 22px;
      right: 25px; } }

.main-nav-handle {
  display: inline-block;
  opacity: 0.5;
  -webkit-transition: all 0.375s;
  -moz-transition: all 0.375s;
  -ms-transition: all 0.375s;
  -o-transition: all 0.375s;
  transition: all 0.375s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

.main-nav-handle:hover {
  opacity: 1; }

.main-share-links {
  position: absolute;
  font-size: 25px;
  top: 15px;
  left: 15px;
  opacity: 0;
  -webkit-transition: all 0.175s;
  -moz-transition: all 0.175s;
  -ms-transition: all 0.175s;
  -o-transition: all 0.175s;
  transition: all 0.175s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  .main-share-links a {
    color: #404040; }
  .main-share-links i {
    margin: 0 0.5em; }
  @media screen and (min-width: 601px) {
    .main-share-links {
      top: 22px;
      left: 25px; } }

.post-title-wrap {
  position: absolute;
  margin: 0 1.75em;
  bottom: 2.75em; }

.post-title {
  color: #fff; }
  @media screen and (max-width: 601px) {
    .post-title {
      font-size: 2em; } }

.post-meta {
  font-size: 1em;
  color: #d9d9d9; }
  @media screen and (min-width: 1025px) {
    .post-meta {
      padding-left: 0.5em; } }

.post-content {
  margin-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em; }

.ui-slide {
  width: 100%;
  position: relative;
  z-index: 10;
  -webkit-transition: margin 0.375s;
  -moz-transition: margin 0.375s;
  -ms-transition: margin 0.375s;
  -o-transition: margin 0.375s;
  transition: margin 0.375s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

.menuOpen .ui-slide {
  margin-left: -80%; }
  @media screen and (min-width: 601px) {
    .menuOpen .ui-slide {
      margin-left: -350px; } }
.menuOpen .main-nav-handle {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.showHeaderShare .main-share-links {
  opacity: 1; }
