/* Tom McClintock Webste Resign (Prototype) 
 * Author: Chris Griffith
 * URL: chrisjg77.github.com/mcclintock-redesign
 */
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("http://fonts.googleapis.com/css?family=Lora");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.facebook {
  background: #4a5aa2; }

.twitter {
  background: #56a8d5; }

.pinterest {
  background: #c13030; }

.activity {
  background: #3c6480; }

.facebook:hover {
  background: #6675b9; }

.twitter:hover {
  background: #7fbddf; }

.pinterest:hover {
  background: #d45050; }

.activity:hover {
  background: #4c7fa3; }

header {
  width: 100%;
  background: white;
  height: 58px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;
  position: fixed;
  z-index: 100; }
  @media screen and (min-width: 601px) {
    header {
      height: 70px; } }
  @media screen and (min-width: 1025px) {
    header {
      position: relative;
      height: 72px; } }

.main-nav {
  position: absolute;
  top: 0;
  width: 50%;
  float: left;
  border-top: 4px solid #cccccc; }

.main-nav-left {
  left: 0;
  padding-right: 175px; }
  .main-nav-left ul {
    float: right;
    padding-right: 1em; }

.main-nav-right {
  right: 0;
  padding-left: 175px; }

.off-canvas {
  right: 0;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  background: #1f1f1f;
  z-index: 1; }
  @media screen and (min-width: 601px) {
    .off-canvas {
      width: 350px; } }
  @media screen and (min-width: 1025px) {
    .off-canvas {
      display: none; } }

#outer-content-wrap {
  background: white; }

.wrap {
  display: block;
  margin: 0 auto;
  position: relative;
  height: 100%; }

.inner-wrap-full {
  max-width: 1280px; }

.inner-wrap-content {
  max-width: 920px; }

.inner-wrap-teaser {
  max-width: 750px; }

article {
  border-bottom: 1px solid #ebebeb;
  padding-top: 1px; }
  @media screen and (min-width: 601px) {
    article {
      border: none; } }

article:last-child {
  border: none; }
  article:last-child .meta-activity {
    border: none; }

article > .inner {
  padding: 0 2.5em 0 2em; }

.aside-header {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
  background: silver;
  padding: 1em 1em 0.75em;
  margin: 0;
  letter-spacing: 1px; }

.aside-header-ligher {
  background: #d4d4d4; }

.aside-darker {
  background: #fafafa; }

section {
  width: 100%; }

footer {
  background: #333333;
  min-height: 400px; }

.col {
  float: left;
  width: 100%; }

.padded .col {
  padding: 0.5em 0.25em; }

@media screen and (min-width: 601px) {
  .col-sm-35 {
    width: 35%; }

  .col-sm-50 {
    width: 50%; }

  .col-sm-65 {
    width: 65%; } }
@media screen and (min-width: 769px) {
  .col-md-10 {
    width: 10%; }

  .col-md-15 {
    width: 15%; }

  .col-md-20 {
    width: 20%; }

  .col-md-25 {
    width: 25%; }

  .col-md-30 {
    width: 30%; }

  .col-md-35 {
    width: 35%; }

  .col-md-40 {
    width: 40%; }

  .col-md-45 {
    width: 45%; }

  .col-md-50 {
    width: 50%; } }
@media screen and (min-width: 1025px) {
  .col-lg-20 {
    width: 20%; }

  .col-lg-25 {
    width: 25%; }

  .col-lg-30 {
    width: 30%; }

  .col-lg-50 {
    width: 50%; } }
.table {
  display: table;
  width: 100%; }

.table-col {
  display: block; }
  @media screen and (min-width: 601px) {
    .table-col {
      display: table-cell; } }

html {
  font-size: 16px;
  color: #4d4d4d; }
  @media screen and (min-width: 601px) {
    html {
      font-size: 18px; } }

p {
  font-family: "Lora", "Georgia", serif;
  font-size: 1em;
  font-style: normal;
  font-weight: 100;
  line-height: 1.75;
  padding-left: 0;
  margin-bottom: 1em; }

blockquote {
  font-family: "Lora", "Georgia", serif;
  color: #9a9a9a;
  border-left: 2px solid #e6e6e6;
  font-style: italic;
  line-height: 1.5em;
  font-size: 1.7em;
  padding: 0 1em;
  margin: 2em 1em; }

a {
  font-family: "Lato", "Helvetica", sans-serif;
  text-decoration: none;
  color: #3c80af; }

a:hover {
  text-decoration: underline; }

em {
  font-family: "Lato", "Helvetica", sans-serif;
  padding-left: 0;
  line-height: 1.3;
  display: block; }

button {
  background: none;
  border: none;
  outline: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

button.active,
button:hover,
button:focus {
  opacity: 1; }

.btn {
  background: #333;
  color: #fff;
  display: inline-block;
  padding: 0.75em 1em 1em;
  font-size: 1em;
  font-weight: 300;
  -webkit-transition: background 0.375s;
  -moz-transition: background 0.375s;
  -ms-transition: background 0.375s;
  -o-transition: background 0.375s;
  transition: background 0.375s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  .btn i {
    font-size: 1.35em;
    position: relative; }
  .btn span {
    border-left: 1px solid rgba(255, 255, 255, 0.5); }

.btn:hover {
  text-decoration: none; }

.btn-lg {
  height: 45px; }
  .btn-lg i, .btn-lg span {
    padding: 0.75em 1em; }

.btn-xl {
  height: 55px; }
  .btn-xl i {
    padding: 0.6em 1em;
    top: 0.1em; }
  .btn-xl span {
    padding: 1em 1.5em; }

.btn-facebook {
  background: #4a5aa2; }

.btn-facebook:hover,
.btn-facebook:focus {
  background: #6675b9; }

sub {
  font-size: 0.7em; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.3;
  color: #343434;
  margin: 0.75em 0 0.25em; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #343434; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.05em; }

h4 {
  font-size: 0.95em;
  margin-bottom: 0.5em; }

nav a {
  font-family: "Lato", "Helvetica", sans-serif;
  text-transform: uppercase;
  text-decoration: none; }

.main-nav-links {
  font-size: 0.8em;
  margin: -4px auto 0;
  position: relative;
  z-index: 102; }
  .main-nav-links li {
    float: left; }
  .main-nav-links a {
    color: #404040;
    display: block;
    padding: 2em 0.75em;
    opacity: 0.5;
    border-top: 4px solid #cccccc;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  .main-nav-links a:hover,
  .main-nav-links a:focus,
  .main-nav-links a.active {
    opacity: 1;
    border-color: gray;
    text-decoration: none; }

nav,
section,
aside,
input,
textarea,
.col {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#main {
  background: white;
  min-height: 500px;
  padding-bottom: 2em; }

.content-darker {
  background: #fafafa; }

.section-header {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2em; }

.section-content {
  font-family: "Lato", "Helvetica", sans-serif; }

.text-center {
  text-align: center; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

@media screen and (min-width: 1025px) {
  .flex-lg {
    display: flex; } }

@media screen and (min-width: 1025px) {
  .lg-hidden {
    display: none !important; } }

@media screen and (min-width: 1025px) {
  .lg-only-hidden {
    display: none !important; } }

@media screen and (max-width: 1025px) {
  .lg-only-visible {
    display: none !important; } }
@media screen and (min-width: 1025px) {
  .lg-only-visible {
    display: block !important; } }

input,
label {
  font-family: "Lato", "Helvetica", sans-serif;
  text-align: left;
  display: block;
  font-weight: 300; }

input {
  width: 100%;
  background: #fff;
  padding: 0.5em 0.5em;
  border: 1px solid #b3b3b3;
  font-size: 0.95em; }

input[type='submit'] {
  background: #333333;
  border-color: #333333;
  color: #fff;
  text-align: center;
  margin-top: 1.1em; }

label {
  padding: 0 0 0.15em;
  font-size: 0.85em; }

.site-brand {
  width: 220px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }
  @media screen and (min-width: 601px) {
    .site-brand {
      width: 325px; } }
  @media screen and (min-width: 1025px) {
    .site-brand {
      width: 350px; } }
  .site-brand img {
    width: 100%; }

.site-brand-wrap {
  width: 100%;
  position: absolute;
  z-index: 101;
  text-align: center; }

.feature-banner {
  position: relative;
  overflow: hidden;
  background: #333;
  padding-top: 58px; }
  @media screen and (min-width: 601px) {
    .feature-banner {
      padding-top: 70px; } }
  @media screen and (min-width: 1025px) {
    .feature-banner {
      padding-top: 0; } }

.feature-overlay {
  height: 90%;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.85));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.85));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.85));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(top, transparent, rgba(0, 0, 0, 0.85));
  /* Standard syntax */ }

.sliding {
  width: 100%;
  position: relative; }

.sliding-lg {
  height: 450px; }

.post-banner {
  height: 500px; }

.map-box {
  height: 400px; }
  @media screen and (min-width: 601px) {
    .map-box {
      height: 500px; } }
  @media screen and (min-width: 1025px) {
    .map-box {
      height: 600px; } }

.slide {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: url("../img/feature-graphic-1.jpg") no-repeat;
  background-position: center 50%; }
  @media screen and (min-width: 1025px) {
    .slide {
      background-size: 1800px auto; } }

.meta {
  color: #b3b3b3;
  font-size: 0.85em;
  font-weight: 300; }
  .meta a {
    -webkit-transition: color 0.375s;
    -moz-transition: color 0.375s;
    -ms-transition: color 0.375s;
    -o-transition: color 0.375s;
    transition: color 0.375s;
    -webkit-transition-delay: 0;
    -moz-transition-delay: 0;
    -ms-transition-delay: 0;
    -o-transition-delay: 0;
    transition-delay: 0; }
  .meta a:hover {
    color: #666666;
    text-decoration: none; }

.meta-sm {
  font-size: 0.75em; }

.meta-activity {
  max-width: 175px;
  padding-bottom: 1em; }
  @media screen and (min-width: 601px) {
    .meta-activity {
      border-bottom: 1px solid #ebebeb; } }
  .meta-activity a {
    color: #b3b3b3; }
  .meta-activity i {
    font-size: 1.2em; }
  .meta-activity span {
    margin: 0 1em 0 0.5em; }

.blog-item:first-child {
  padding-top: 1em; }

.teaser {
  color: gray;
  margin: 2em 0; }
  .teaser p {
    font-size: 0.9em; }

.feed {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6; }

.feed-item {
  position: relative;
  cursor: pointer; }
  .feed-item a:hover {
    text-decoration: none; }
  @media screen and (min-width: 601px) {
    .feed-item {
      border: none; } }

.feed-item:hover {
  background: #fafafa; }

.post-feed-teaser {
  font-size: 0.75em;
  margin: 1.25em 0 1em;
  color: gray; }

.viewing-marker {
  width: 20px;
  height: 20px;
  left: -11px;
  top: 47%;
  position: absolute;
  display: block;
  border-left: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #f0f0f0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg); }

.viewing,
.viewing:hover {
  background: #f0f0f0; }

.feed-item .inner {
  padding: 1.5em 1.5em 1.4em 1em; }
  @media screen and (min-width: 601px) {
    .feed-item .inner {
      border-bottom: 1px solid #ebebeb; } }

.tag {
  display: table; }

.tag > * {
  background: #ccc;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  width: auto;
  padding: 0 0.45em;
  height: 20px;
  min-width: 1em;
  color: #fff;
  display: table-cell !important; }

.tag i {
  font-size: 14px; }
.tag a {
  border-left: 1px solid #fff;
  font-size: 11px;
  padding: 0 0.75em; }
.tag a:hover {
  text-decoration: none; }

.tag-audio > * {
  background: #245277; }

.tag-video > * {
  background: #bc4b4b; }

.icon {
  width: 25px;
  height: 25px;
  border: none;
  font-size: 0;
  outline: none;
  position: relative;
  top: 3px; }

.icon-bars {
  background: url("../img/svg/icon-bars.svg") no-repeat center center;
  background-size: 100%; }

.main-nav-handle-wrap {
  position: absolute;
  top: 15px;
  right: 15px; }
  @media screen and (min-width: 601px) {
    .main-nav-handle-wrap {
      top: 22px;
      right: 25px; } }

.main-nav-handle {
  display: inline-block;
  opacity: 0.5;
  -webkit-transition: all 0.375s;
  -moz-transition: all 0.375s;
  -ms-transition: all 0.375s;
  -o-transition: all 0.375s;
  transition: all 0.375s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

.main-nav-handle:hover {
  opacity: 1; }

.main-share-links {
  position: absolute;
  font-size: 25px;
  top: 15px;
  left: 15px;
  opacity: 0;
  -webkit-transition: opacity 0.175s;
  -moz-transition: opacity 0.175s;
  -ms-transition: opacity 0.175s;
  -o-transition: opacity 0.175s;
  transition: opacity 0.175s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }
  .main-share-links a {
    color: #404040; }
  .main-share-links i {
    margin: 0 0.5em; }
  @media screen and (min-width: 601px) {
    .main-share-links {
      top: 22px;
      left: 25px; } }

.post-title-wrap {
  position: absolute;
  bottom: 2.75em;
  margin: 0 1.5em; }
  @media screen and (min-width: 1025px) {
    .post-title-wrap {
      margin: 0 3.75em; } }

.post-title {
  color: #fff; }
  @media screen and (max-width: 601px) {
    .post-title {
      font-size: 2em; } }

.post-meta {
  font-size: 1em;
  color: #d9d9d9; }
  @media screen and (min-width: 1025px) {
    .post-meta {
      padding-left: 0.5em; } }

.post-content {
  margin-top: 2em;
  padding-bottom: 2em; }
  @media screen and (min-width: 1025px) {
    .post-content {
      margin-right: 2.5em;
      margin-left: 3em; } }

.post-activity {
  position: absolute;
  margin-top: 4em; }

.post-activity-handle {
  width: 35px;
  height: 35px;
  display: block;
  margin: 1em 1.5em;
  font-size: 1em;
  opacity: 0.3; }
  @media screen and (min-width: 1281px) {
    .post-activity-handle {
      margin-left: 1em; } }

.post-activity-dropdown {
  display: none;
  width: 35px;
  margin: 0 auto;
  position: relative;
  background: #000;
  text-align: center; }
  @media screen and (min-width: 1281px) {
    .post-activity-dropdown {
      right: 5px; } }
  .post-activity-dropdown .arrow {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    background: #000;
    position: relative;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -5px; }
  .post-activity-dropdown ul {
    display: table;
    margin-top: -5px; }
  .post-activity-dropdown li a, .post-activity-dropdown li em {
    display: block;
    display: table-cell;
    vertical-align: middle;
    width: 35px;
    height: 35px; }

.post-activity-dropdown-count {
  color: #fff;
  font-size: 0.8em; }

.ui-slide {
  width: 100%;
  position: relative;
  z-index: 10;
  -webkit-transition: margin 0.375s;
  -moz-transition: margin 0.375s;
  -ms-transition: margin 0.375s;
  -o-transition: margin 0.375s;
  transition: margin 0.375s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0; }

.menuOpen .ui-slide {
  margin-left: -80%; }
  @media screen and (min-width: 601px) {
    .menuOpen .ui-slide {
      margin-left: -350px; } }
.menuOpen .main-nav-handle {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.showHeaderShare .main-share-links {
  opacity: 1; }

@font-face {
  font-family: "mcclintock";
  src: url("../fonts/icons/mcclintock.eot");
  src: url("../fonts/icons/mcclintock.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/mcclintock.woff") format("woff"), url("../fonts/icons/mcclintock.ttf") format("truetype"), url("../fonts/icons/mcclintock.svg#mcclintock") format("svg");
  font-weight: normal;
  font-style: normal; }
[data-icon]:before {
  font-family: "mcclintock" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "mcclintock" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: "a"; }

.icon-arrow-left:before {
  content: "b"; }

.icon-arrow-right:before {
  content: "c"; }

.icon-address-book:before {
  content: "e"; }

.icon-alert:before {
  content: "f"; }

.icon-address-book:before {
  content: "a"; }

.icon-alert:before {
  content: "b"; }

.icon-align-center:before {
  content: "c"; }

.icon-align-justify:before {
  content: "d"; }

.icon-align-left:before {
  content: "e"; }

.icon-align-right:before {
  content: "f"; }

.icon-anchor:before {
  content: "g"; }

.icon-annotate:before {
  content: "h"; }

.icon-archive:before {
  content: "i"; }

.icon-arrow-down:before {
  content: "j"; }

.icon-arrow-left:before {
  content: "k"; }

.icon-arrow-right:before {
  content: "l"; }

.icon-arrow-up:before {
  content: "m"; }

.icon-arrows-compress:before {
  content: "n"; }

.icon-arrows-expand:before {
  content: "o"; }

.icon-arrows-in:before {
  content: "p"; }

.icon-arrows-out:before {
  content: "q"; }

.icon-asl:before {
  content: "r"; }

.icon-asterisk:before {
  content: "s"; }

.icon-at-sign:before {
  content: "t"; }

.icon-background-color:before {
  content: "u"; }

.icon-battery-empty:before {
  content: "v"; }

.icon-battery-full:before {
  content: "w"; }

.icon-battery-half:before {
  content: "x"; }

.icon-bitcoin:before {
  content: "y"; }

.icon-bitcoin-circle:before {
  content: "z"; }

.icon-blind:before {
  content: "A"; }

.icon-bluetooth:before {
  content: "B"; }

.icon-bold:before {
  content: "C"; }

.icon-book:before {
  content: "D"; }

.icon-book-bookmark:before {
  content: "E"; }

.icon-bookmark:before {
  content: "F"; }

.icon-braille:before {
  content: "G"; }

.icon-burst:before {
  content: "H"; }

.icon-burst-new:before {
  content: "I"; }

.icon-burst-sale:before {
  content: "J"; }

.icon-calendar:before {
  content: "K"; }

.icon-camera:before {
  content: "L"; }

.icon-check:before {
  content: "M"; }

.icon-checkbox:before {
  content: "N"; }

.icon-clipboard:before {
  content: "O"; }

.icon-clipboard-notes:before {
  content: "P"; }

.icon-clipboard-pencil:before {
  content: "Q"; }

.icon-clock:before {
  content: "R"; }

.icon-closed-caption:before {
  content: "S"; }

.icon-cloud:before {
  content: "T"; }

.icon-comment:before {
  content: "U"; }

.icon-comment-minus:before {
  content: "V"; }

.icon-comment-quotes:before {
  content: "W"; }

.icon-comment-video:before {
  content: "X"; }

.icon-comments:before {
  content: "Y"; }

.icon-compass:before {
  content: "Z"; }

.icon-contrast:before {
  content: "0"; }

.icon-credit-card:before {
  content: "1"; }

.icon-crop:before {
  content: "2"; }

.icon-crown:before {
  content: "3"; }

.icon-css3:before {
  content: "4"; }

.icon-database:before {
  content: "5"; }

.icon-die-five:before {
  content: "6"; }

.icon-die-four:before {
  content: "7"; }

.icon-die-one:before {
  content: "8"; }

.icon-die-six:before {
  content: "9"; }

.icon-die-three:before {
  content: "!"; }

.icon-die-two:before {
  content: "\""; }

.icon-dislike:before {
  content: "#"; }

.icon-dollar:before {
  content: "$"; }

.icon-dollar-bill:before {
  content: "%"; }

.icon-download:before {
  content: "&"; }

.icon-eject:before {
  content: "'"; }

.icon-elevator:before {
  content: "("; }

.icon-euro:before {
  content: ")"; }

.icon-eye:before {
  content: "*"; }

.icon-fast-forward:before {
  content: "+"; }

.icon-female:before {
  content: ","; }

.icon-female-symbol:before {
  content: "-"; }

.icon-filter:before {
  content: "."; }

.icon-first-aid:before {
  content: "/"; }

.icon-flag:before {
  content: ":"; }

.icon-folder:before {
  content: ";"; }

.icon-folder-add:before {
  content: "<"; }

.icon-folder-lock:before {
  content: "="; }

.icon-foot:before {
  content: ">"; }

.icon-foundation:before {
  content: "?"; }

.icon-graph-bar:before {
  content: "@"; }

.icon-graph-horizontal:before {
  content: "["; }

.icon-graph-pie:before {
  content: "]"; }

.icon-graph-trend:before {
  content: "^"; }

.icon-guide-dog:before {
  content: "_"; }

.icon-hearing-aid:before {
  content: "`"; }

.icon-heart:before {
  content: "{"; }

.icon-home:before {
  content: "|"; }

.icon-html5:before {
  content: "}"; }

.icon-indent-less:before {
  content: "~"; }

.icon-indent-more:before {
  content: "\""; }

.icon-info:before {
  content: "\e000"; }

.icon-italic:before {
  content: "\e001"; }

.icon-key:before {
  content: "\e002"; }

.icon-laptop:before {
  content: "\e003"; }

.icon-layout:before {
  content: "\e004"; }

.icon-lightbulb:before {
  content: "\e005"; }

.icon-like:before {
  content: "\e006"; }

.icon-link:before {
  content: "\e007"; }

.icon-list:before {
  content: "\e008"; }

.icon-list-bullet:before {
  content: "\e009"; }

.icon-list-number:before {
  content: "\e00a"; }

.icon-list-thumbnails:before {
  content: "\e00b"; }

.icon-lock:before {
  content: "\e00c"; }

.icon-loop:before {
  content: "\e00d"; }

.icon-magnifying-glass:before {
  content: "\e00e"; }

.icon-mail:before {
  content: "\e00f"; }

.icon-male:before {
  content: "\e010"; }

.icon-male-female:before {
  content: "\e011"; }

.icon-male-symbol:before {
  content: "\e012"; }

.icon-map:before {
  content: "\e013"; }

.icon-marker:before {
  content: "\e014"; }

.icon-megaphone:before {
  content: "\e015"; }

.icon-microphone:before {
  content: "\e016"; }

.icon-minus:before {
  content: "\e017"; }

.icon-minus-circle:before {
  content: "\e018"; }

.icon-mobile:before {
  content: "\e019"; }

.icon-mobile-signal:before {
  content: "\e01a"; }

.icon-monitor:before {
  content: "\e01b"; }

.icon-mountains:before {
  content: "\e01c"; }

.icon-music:before {
  content: "\e01d"; }

.icon-next:before {
  content: "\e01e"; }

.icon-no-dogs:before {
  content: "\e01f"; }

.icon-no-smoking:before {
  content: "\e020"; }

.icon-page:before {
  content: "\e021"; }

.icon-page-add:before {
  content: "\e022"; }

.icon-page-copy:before {
  content: "\e023"; }

.icon-page-csv:before {
  content: "\e024"; }

.icon-page-delete:before {
  content: "\e025"; }

.icon-page-doc:before {
  content: "\e026"; }

.icon-page-edit:before {
  content: "\e027"; }

.icon-page-export:before {
  content: "\e028"; }

.icon-page-export-csv:before {
  content: "\e029"; }

.icon-page-export-doc:before {
  content: "\e02a"; }

.icon-page-export-pdf:before {
  content: "\e02b"; }

.icon-page-filled:before {
  content: "\e02c"; }

.icon-page-multiple:before {
  content: "\e02d"; }

.icon-page-pdf:before {
  content: "\e02e"; }

.icon-page-remove:before {
  content: "\e02f"; }

.icon-page-search:before {
  content: "\e030"; }

.icon-paint-bucket:before {
  content: "\e031"; }

.icon-paperclip:before {
  content: "\e032"; }

.icon-pause:before {
  content: "\e033"; }

.icon-paw:before {
  content: "\e034"; }

.icon-paypal:before {
  content: "\e035"; }

.icon-pencil:before {
  content: "\e036"; }

.icon-photo:before {
  content: "\e037"; }

.icon-play:before {
  content: "\e038"; }

.icon-play-circle:before {
  content: "\e039"; }

.icon-play-video:before {
  content: "\e03a"; }

.icon-plus:before {
  content: "\e03b"; }

.icon-pound:before {
  content: "\e03c"; }

.icon-power:before {
  content: "\e03d"; }

.icon-previous:before {
  content: "\e03e"; }

.icon-price-tag:before {
  content: "\e03f"; }

.icon-pricetag-multiple:before {
  content: "\e040"; }

.icon-print:before {
  content: "\e041"; }

.icon-prohibited:before {
  content: "\e042"; }

.icon-projection-screen:before {
  content: "\e043"; }

.icon-puzzle:before {
  content: "\e044"; }

.icon-quote:before {
  content: "\e045"; }

.icon-record:before {
  content: "\e046"; }

.icon-refresh:before {
  content: "\e047"; }

.icon-results:before {
  content: "\e048"; }

.icon-results-demographics:before {
  content: "\e049"; }

.icon-rewind:before {
  content: "\e04a"; }

.icon-rewind-ten:before {
  content: "\e04b"; }

.icon-rss:before {
  content: "\e04c"; }

.icon-safety-cone:before {
  content: "\e04d"; }

.icon-save:before {
  content: "\e04e"; }

.icon-share:before {
  content: "\e04f"; }

.icon-sheriff-badge:before {
  content: "\e050"; }

.icon-shield:before {
  content: "\e051"; }

.icon-shopping-bag:before {
  content: "\e052"; }

.icon-shopping-cart:before {
  content: "\e053"; }

.icon-shuffle:before {
  content: "\e054"; }

.icon-skull:before {
  content: "\e055"; }

.icon-social-500px:before {
  content: "\e056"; }

.icon-social-adobe:before {
  content: "\e057"; }

.icon-social-amazon:before {
  content: "\e058"; }

.icon-social-android:before {
  content: "\e059"; }

.icon-social-apple:before {
  content: "\e05a"; }

.icon-social-behance:before {
  content: "\e05b"; }

.icon-social-bing:before {
  content: "\e05c"; }

.icon-social-blogger:before {
  content: "\e05d"; }

.icon-social-delicious:before {
  content: "\e05e"; }

.icon-social-designer-news:before {
  content: "\e05f"; }

.icon-social-deviant-art:before {
  content: "\e060"; }

.icon-social-digg:before {
  content: "\e061"; }

.icon-social-dribbble:before {
  content: "\e062"; }

.icon-social-drive:before {
  content: "\e063"; }

.icon-social-dropbox:before {
  content: "\e064"; }

.icon-social-evernote:before {
  content: "\e065"; }

.icon-social-facebook:before {
  content: "\e066"; }

.icon-social-flickr:before {
  content: "\e067"; }

.icon-social-forrst:before {
  content: "\e068"; }

.icon-social-foursquare:before {
  content: "\e069"; }

.icon-social-game-center:before {
  content: "\e06a"; }

.icon-social-github:before {
  content: "\e06b"; }

.icon-social-google-plus:before {
  content: "\e06c"; }

.icon-social-hacker-news:before {
  content: "\e06d"; }

.icon-social-hi5:before {
  content: "\e06e"; }

.icon-social-instagram:before {
  content: "\e06f"; }

.icon-social-joomla:before {
  content: "\e070"; }

.icon-social-lastfm:before {
  content: "\e071"; }

.icon-social-linkedin:before {
  content: "\e072"; }

.icon-social-medium:before {
  content: "\e073"; }

.icon-social-myspace:before {
  content: "\e074"; }

.icon-social-orkut:before {
  content: "\e075"; }

.icon-social-path:before {
  content: "\e076"; }

.icon-social-picasa:before {
  content: "\e077"; }

.icon-social-pinterest:before {
  content: "\e078"; }

.icon-social-rdio:before {
  content: "\e079"; }

.icon-social-reddit:before {
  content: "\e07a"; }

.icon-social-skillshare:before {
  content: "\e07b"; }

.icon-social-skype:before {
  content: "\e07c"; }

.icon-social-smashing-mag:before {
  content: "\e07d"; }

.icon-social-snapchat:before {
  content: "\e07e"; }

.icon-social-spotify:before {
  content: "\e07f"; }

.icon-social-squidoo:before {
  content: "\e080"; }

.icon-social-stack-overflow:before {
  content: "\e081"; }

.icon-social-steam:before {
  content: "\e082"; }

.icon-social-stumbleupon:before {
  content: "\e083"; }

.icon-social-treehouse:before {
  content: "\e084"; }

.icon-social-tumblr:before {
  content: "\e085"; }

.icon-social-twitter:before {
  content: "\e086"; }

.icon-social-vimeo:before {
  content: "\e087"; }

.icon-social-windows:before {
  content: "\e088"; }

.icon-social-xbox:before {
  content: "\e089"; }

.icon-social-yahoo:before {
  content: "\e08a"; }

.icon-social-yelp:before {
  content: "\e08b"; }

.icon-social-youtube:before {
  content: "\e08c"; }

.icon-social-zerply:before {
  content: "\e08d"; }

.icon-social-zurb:before {
  content: "\e08e"; }

.icon-sound:before {
  content: "\e08f"; }

.icon-star:before {
  content: "\e090"; }

.icon-stop:before {
  content: "\e091"; }

.icon-strikethrough:before {
  content: "\e092"; }

.icon-subscript:before {
  content: "\e093"; }

.icon-superscript:before {
  content: "\e094"; }

.icon-tablet-landscape:before {
  content: "\e095"; }

.icon-tablet-portrait:before {
  content: "\e096"; }

.icon-target:before {
  content: "\e097"; }

.icon-target-two:before {
  content: "\e098"; }

.icon-telephone:before {
  content: "\e099"; }

.icon-telephone-accessible:before {
  content: "\e09a"; }

.icon-text-color:before {
  content: "\e09b"; }

.icon-thumbnails:before {
  content: "\e09c"; }

.icon-ticket:before {
  content: "\e09d"; }

.icon-torso:before {
  content: "\e09e"; }

.icon-torso-business:before {
  content: "\e09f"; }

.icon-torso-female:before {
  content: "\e0a0"; }

.icon-torsos:before {
  content: "\e0a1"; }

.icon-torsos-all:before {
  content: "\e0a2"; }

.icon-torsos-all-female:before {
  content: "\e0a3"; }

.icon-torsos-female-male:before {
  content: "\e0a4"; }

.icon-torsos-male-female:before {
  content: "\e0a5"; }

.icon-trash:before {
  content: "\e0a6"; }

.icon-trees:before {
  content: "\e0a7"; }

.icon-trophy:before {
  content: "\e0a8"; }

.icon-underline:before {
  content: "\e0a9"; }

.icon-universal-access:before {
  content: "\e0aa"; }

.icon-unlink:before {
  content: "\e0ab"; }

.icon-unlock:before {
  content: "\e0ac"; }

.icon-upload:before {
  content: "\e0ad"; }

.icon-upload-cloud:before {
  content: "\e0ae"; }

.icon-usb:before {
  content: "\e0af"; }

.icon-video:before {
  content: "\e0b0"; }

.icon-volume:before {
  content: "\e0b1"; }

.icon-volume-none:before {
  content: "\e0b2"; }

.icon-volume-strike:before {
  content: "\e0b3"; }

.icon-web:before {
  content: "\e0b4"; }

.icon-wheelchair:before {
  content: "\e0b5"; }

.icon-widget:before {
  content: "\e0b6"; }

.icon-wrench:before {
  content: "\e0b7"; }

.icon-x:before {
  content: "\e0b8"; }

.icon-x-circle:before {
  content: "\e0b9"; }

.icon-yen:before {
  content: "\e0ba"; }

.icon-zoom-in:before {
  content: "\e0bb"; }

.icon-zoom-out:before {
  content: "\e0bc"; }

.count-lg {
  font-size: 2em;
  font-weight: bold; }

.sign-stats-wrap {
  padding: 2em 0; }

.sign-stat {
  padding: 3em 1em; }

.sign-description {
  padding: 3em; }

.sign-form {
  padding: 1em 1em 3em; }
