// Base styles 
// -------------------------------------------
// Styles the semantic markup and helper classes such as clearfix. Also includes
// styles for the main nav links

html {
	font-size: $mobile_font_size;
	color: $grey;

	@media screen and (min-width: $break-sm) {
		font-size: $main_font_size;
	}
}

p { 
	font-family: $serif_font_stack; 
	font-size: 1em;
	font-style: normal;
	font-weight: 100;
	line-height: 1.75;
	padding-left: $font_indent;
	margin-bottom: 1em;
}

a {
	font-family: $sans_font_stack;
 	text-decoration: none;
 	color: $body_link_color;
}

a:hover {
	text-decoration: underline;
}

em {
	font-family: $sans_font_stack;
	padding-left: $font_indent;
	line-height: 1.3;
	display: block;
}

sub {
	font-size: 0.7em;
}

h1,h2,h3,h4,h5,h6 { 
	font-family: $sans_font_stack; 
	font-style: normal;
	font-weight: normal;
	line-height: 1.2;
	color: $header_font_color;
	margin: 0.75em 0 0.25em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: $header_font_color; }

h2 { font-size: 2.1em; }
h3 { font-size: 1.05em; }
h4 { font-size: 0.95em; margin-bottom: 0.5em; }


// Main Nav
// ------------
nav a {
	font-family: $sans_font_stack;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav-links {
	font-size: 0.8em; 
	margin: -$border_top_h auto 0;

	li { 
		float: left;
	}
	a {
		color: $main_nav_link_color;
		display: block;
		padding: 2em 0.75em;
		opacity: 0.5;
		border-top: $border_top_h solid $border_top_inactive;
		@include transition(opacity,0.5s,0);
	}

	a:hover {
		opacity: 1;
		border-color: $border_top_active;
		text-decoration: none;
	}
}



.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height:0;
}

.lg-hidden {
	@media screen and (min-width: $break_lg) {
		display: none !important;
	}
}

.lg-only-visible {
	@media screen and (max-width: $break_lg) {
		display: none !important;
	}
	@media screen and (min-width: $break_lg) {
		display: block !important;
	}
}
