// Base styles 
// -------------------------------------------
// Styles the semantic markup and helper classes such as clearfix. Also includes
// styles for the main nav links

html {
	font-size: $mobile_font_size;
	color: $grey;

	@media screen and (min-width: $break-sm) {
		font-size: $main_font_size;
	}
}

p { 
	font-family: $serif_font_stack; 
	font-size: 1em;
	font-style: normal;
	font-weight: 100;
	line-height: 1.75;
	padding-left: $font_indent;
	margin-bottom: 1em;
}

blockquote {
	font-family: $serif_font_stack; 
	color: $blockquote_font_color;
	border-left: 2px solid $blockquote_border_color;
	font-style: italic;
	line-height: 1.5em;
	font-size: 1.7em;
	padding: 0 1em;
	margin: 2em 1em;
}

a {
	font-family: $sans_font_stack;
 	text-decoration: none;
 	color: $body_link_color;
}

a:hover {
	text-decoration: underline;
}

em {
	font-family: $sans_font_stack;
	padding-left: $font_indent;
	line-height: 1.3;
	display: block;
}

button {
	background: none;
	border: none;
	outline: none;
	width: $icon_default_size;
	height: $icon_default_size;
	cursor: pointer;
	opacity: 0.5;
	@include transition(opacity,0.5s,0);
}

button:hover,
button:focus { opacity: 1; }

sub {
	font-size: 0.7em;
}

h1,h2,h3,h4,h5,h6 { 
	font-family: $sans_font_stack; 
	font-style: normal;
	font-weight: normal;
	line-height: 1.3;
	color: $header_font_color;
	margin: 0.75em 0 0.25em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: $header_font_color; }
h1 { font-size: 3em; }
h2 { font-size: 2.1em; }
h3 { font-size: 1.05em; }
h4 { font-size: 0.95em; margin-bottom: 0.5em; }


// Main Nav
// ------------
nav a {
	font-family: $sans_font_stack;
	text-transform: uppercase;
	text-decoration: none;
}

.main-nav-links {
	font-size: 0.8em; 
	margin: -$border_top_h auto 0;
	position: relative;
	z-index: 102;

	li { 
		float: left;
	}
	a {
		color: $main_nav_link_color;
		display: block;
		padding: 2em 0.75em;
		opacity: 0.5;
		border-top: $border_top_h solid $border_top_inactive;
		@include transition(opacity,0.5s,0);
	}

	a:hover,
	a:focus,
	a.active {
		opacity: 1;
		border-color: $border_top_active;
		text-decoration: none;
	}
}

// Content
// ------------------
// --------------------

nav,
section,
aside,
.col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box;        
}

#main {
	background: $main_body_bg;
	min-height: 500px;
}

.content-darker { background: $content_body_darker_bg; }

.section-header { text-transform: uppercase; font-weight: bold; margin-bottom: 2em; }
.section-content { font-family: $sans_font_stack; }


.text-center { text-align: center; }

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height:0;
}

.lg-hidden {
	@media screen and (min-width: $break_lg) {
		display: none !important;
	}
}

.lg-only-hidden {
	@media screen and (min-width: $break_lg) {
		display: none !important;
	}
}

.lg-only-visible {
	@media screen and (max-width: $break_lg) {
		display: none !important;
	}
	@media screen and (min-width: $break_lg) {
		display: block !important;
	}
}
