// Objects
// -------------------------------------------
// Objects are elements that are not crucial to the structure to the site, nor are
// a base to be built off. They are reusable elements such as tags, teasers,
// features banners, etc..

// Site logo/brand
.site-brand {
	width: $brand_sm_size;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	// left: -5px; // Offset to put in true center
	@media screen and (min-width:$break_sm) {
		width: $brand_md_size;
	}
	@media screen and (min-width:$break_lg) {
		width: $brand_lg_size;
	}
	img { width: 100%; }
}

.site-brand-wrap {
	width: 100%;
	position: absolute;
	z-index: 101;
	text-align: center;	
}

// Feature graphic area, slider, and/or map
.feature-banner {
	position: relative;
	overflow: hidden;
	background: #333;
	padding-top: $header_phone_h;
	@media screen and (min-width: $break_sm) {
		padding-top: $header_tablet_h;
	}
	@media screen and (min-width: $break_lg) {
		padding-top: 0;
	}
}

.feature-overlay {
	height: 90%;
	width: 100%;
	position: absolute;
	bottom: 0;
	@include gradient(top,$feature_overlay_start,$feature_overlay_end);
}

.sliding {
	width: 100%;
	position: relative;
}

.sliding-lg {
	height: $feature_lg_h;	
}

.post-banner {
	height: $post_banner_h;
}

.map-box {
	height: $map_phone_h;
	@media screen and (min-width: $break_sm) {
		height: $map_tablet_h;
	}
	@media screen and (min-width: $break_lg) {
		height: $map_desktop_h;
	}
}

.slide {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: url('../img/feature-graphic-1.jpg') no-repeat;
	background-position: center 50%;
	@media screen and (min-width: $break_lg) {
		background-size: 1800px auto;
	}
}


// Meta Information
// ---------------------------
// Includes bylines, dates, comment and share numbers and links
.meta {
	color: $meta_font_color;
	font-size: 0.85em;
	font-weight: 300;
	a { 
		@include transition(color,0.375s,0);
	}
	a:hover { 
		color: darken($meta_font_color,30%);
		text-decoration: none; 
	}
}

.meta-sm {
	font-size: 0.75em;
}

.meta-activity {
	max-width: 175px;
	padding-bottom: 1em;
	@media screen and (min-width: $break_sm) {
		border-bottom: $thin_light_border;
	}
	a { color: $meta_font_color; }
	i { font-size: 1.2em; }
	span { margin: 0 1em 0 0.5em; }
}

// Blog Post List
// ---------------------------
.blog-item:first-child {
	padding-top: 1em;
}

.teaser {
	color: $teaser_font_color;
	margin: 2em 0;
	p { font-size: 0.9em; }
}

// Feed (includes blogroll) 
// ---------------------------
// The feed shows related/upcoming comment to the right of the main content
// on the page.
.feed {
	border-left: $thin_grey_border;
	border-right: $thin_grey_border;
}

.feed-item {
	position: relative;
	@media screen and (min-width: $break_sm) {
		border: none;
	}
}

.feed-item:hover {
	background: $feed_item_hover_bg;
}

.post-feed-teaser {
	font-size: 0.75em;
	margin: 1.25em 0 1em;
	color: $teaser_font_color;
}

.viewing-marker {
	width: $viewing_marker_size;
	height: $viewing_marker_size;
	left: -$viewing_marker_size+9px;
	top: 47%;
	position: absolute;
	display: block;
	border-left: $thin_grey_border;
	border-bottom: $thin_grey_border;
	background: $viewing_bg_color;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.viewing,
.viewing:hover {
	background: $viewing_bg_color;
}

.feed-item .inner {
	padding: 1.5em $aside_gutter_w+0.5em 1.4em $aside_gutter_w;
	@media screen and (min-width: $break_sm) {
		border-bottom: $thin_light_border;
	}
}

.tag { display: table; }
.tag > * {
	background: #ccc;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	width: auto;
	padding: 0 0.35em;
	height: 22px;
	min-width: 1em;
	color: #fff;
	display: table-cell !important;
}



.tag {
	i { font-size: 14px; }
	a {
		border-left: 1px solid #fff;
		font-size: 11px;
		padding: 0 0.75em;
	}
	a:hover { text-decoration: none; }
}

.tag-audio > * { background: $audio_tag_color; }
.tag-video > * { background: $video_tag_color; }


// Icons 
.icon {
	width: $icon_default_size;
	height: $icon_default_size;
	border: none;
	font-size: 0;
	outline: none; // Hide default glow on focus
}

.icon-bars {
	background: url("../img/svg/icon-bars.svg") no-repeat center center;
	background-size: 100%;
}


// -- Header objects (nav handle and share links)
.main-nav-handle-wrap {
	position: absolute;
	top: 15px;
	right: 15px;
	@media screen and (min-width: $break_sm) {
		top: 22px;
		right: 25px;
	}
}

.main-nav-handle {
	display: inline-block;
	opacity: 0.5;
	@include transition(all,$offcanvas_open_speed,0);
}

.main-nav-handle:hover { opacity: 1; }

.main-share-links {
	position: absolute;
	font-size: 25px;
	top: 15px;
	left: 15px;
	opacity: 0;
	a { color: $main_nav_link_color; }
	i { margin: 0 0.5em; }
	@include transition(opacity,0.175s,0);
	@media screen and (min-width: $break_sm) {
		top: 22px;
		left: 25px;
	}
}

// Blog Post
// ---------------------------

.post-title-wrap {
	position: absolute;
	bottom: $post_header_padding_bottom;
	margin: 0 1.5em;
	@media screen and (min-width: $break_lg) {
		margin: 0 $post_header_padding_left;
	}
}
.post-title {
	color: #fff;
	@media screen and (max-width:$break_sm) {
		font-size: 2em;
	}
}
.post-meta {
	font-size: 1em;
	color: darken(#ffffff,15%);
	@media screen and (min-width:$break_lg) {
		padding-left: 0.5em;
	}
}
.post-content {
	margin-top: 2em;
	padding-bottom: 2em;
	@media screen and (min-width: $break_lg) {
		margin-right: $post_content_padding_right;
		margin-left: $post_content_padding_left;
	}
}
.post-activity {
	position: absolute;
	margin-top: 4em;
}

.post-activity-handle {
	width: $icon_lg_size;
	height: $icon_lg_size;
	display: block;
	margin: 1em 1.5em;
	font-size: 1em;
	opacity: 0.3;
	@media screen and (min-width: $break_xl) {
		margin-left: 1em;
	}
}

.post-activity-dropdown {
	display: none;
	width: $icon_lg_size;
	margin: 0 auto;
	position: relative;
	background: #000;
	text-align: center;
	@media screen and (min-width: $break_xl) {
		right: 5px;
	}
	.arrow {
		width: 10px;
		height: 10px;
		margin: 0 auto;
		background: #000;
		position: relative;
		display: block;
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		transform: rotate(45deg);
		top: -5px;
	}
	ul { 
		display: table;
		margin-top: -5px; 
	}
	li {
		a,em {
			display: block;
			display: table-cell;
			vertical-align: middle;
			width: $icon_lg_size;
			height: $icon_lg_size;
		}
	}
}

.post-activity-dropdown-count {
	color: #fff;
	font-size: 0.8em;
}




