// Objects
// -------------------------------------------
// Objects are elements that are not crucial to the structure to the site, nor are
// a base to be built off. They are reusable elements such as tags, teasers,
// features banners, etc..

// Site logo/brand
.site-brand {
	width: $brand_sm_size;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	// left: -5px; // Offset to put in true center
	@media screen and (min-width:$break_sm) {
		width: $brand_md_size;
	}
	@media screen and (min-width:$break_lg) {
		width: $brand_lg_size;
	}
	img { width: 100%; }
}



// Feature graphic and slider
.feature-banner {
	position: relative;
	overflow: hidden;
}

.feature-overlay {
	height: 50%;
	width: 100%;
	position: absolute;
	bottom: 0;
	@include gradient(top,$feature_overlay_start,$feature_overlay_end);
}

.sliding {
	width: 100%;
	position: relative;
}

.sliding-lg {
	height: $feature_lg_h;	
}

.slide {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: url('../img/feature-graphic-1.jpg') no-repeat;
	background-position: center 50%;
	@media screen and (min-width: $break_lg) {
		background-attachment: fixed;
		background-size: 1800px auto;
		background-position: center -200%;
	}
	@media screen and (min-width: $break_lg) {
		background-size: 2400px auto;
		background-position: center 130%;
	}

}


// Meta Information
// ---------------------------
// Includes bylines, dates, comment and share numbers and links
.meta {
	color: $meta_font_color;
	font-size: 0.85em;
	font-weight: 300;
	a:hover { text-decoration: none; }
}

.meta-sm {
	font-size: 0.75em;
}

.meta-activity {
	max-width: 175px;
	padding-bottom: 1em;
	@media screen and (min-width: $break_sm) {
		border-bottom: $thin_light_border;
	}
	a { color: $meta_font_color; }
	i { font-size: 1.2em; }
	span { margin: 0 1em 0 0.5em; }
	
}

// Blog Post List
// ---------------------------
.blog-item:first-child {
	padding-top: 1em;
}

.teaser {
	color: $teaser_font_color;
	margin: 2em 0;
	p { font-size: 0.9em; }
}

// Feed (includes blogroll) 
// ---------------------------
// The feed shows related/upcoming comment to the right of the main content
// on the page.
.feed {
	border-left: $thin_grey_border;
	border-right: $thin_grey_border;
}

.feed-item {
	@media screen and (min-width: $break_sm) {
		border: none;
	}
}

.feed-item .inner {
	padding: 1.5em $aside_gutter_w+0.5em 1.4em $aside_gutter_w;
	@media screen and (min-width: $break_sm) {
		border-bottom: $thin_light_border;
	}
}


.tag { display: table; }
.tag > * {
	background: #ccc;
	text-transform: uppercase;
	vertical-align: middle;
	text-align: center;
	width: auto;
	padding: 0 0.35em;
	height: 22px;
	min-width: 1em;
	color: #fff;
	display: table-cell !important;
}



.tag {
	i { font-size: 14px; }
	a {
		border-left: 1px solid #fff;
		font-size: 11px;
		padding: 0 0.75em;
	}
	a:hover { text-decoration: none; }
}

.tag-audio > * { background: $audio_tag_color; }
.tag-video > * { background: $video_tag_color; }


// Icons 

.icon {
	width: $icon_default_size;
	height: $icon_default_size;
	border: none;
	font-size: 0;
	outline: none; // Hide default glow on focus
}

.icon-bars {
	background: url("../img/svg/icon-bars.svg") no-repeat center center;
	background-size: 100%;
}


// -- Specific class for the main menu button

.main-nav-handle-wrap {
	position: absolute;
	top: 15px;
	right: 15px;
	@media screen and (min-width: $break_sm) {
		top: 25px;
		right: 25px;
	}
}

.main-nav-handle {
	display: block;
	opacity: 0.5;
	@include transition(all,$offcanvas_open_speed,0);
}

.main-nav-handle:hover { opacity: 1; }






