body {
	position: relative;
}


header {
	width: 100%;
	background: $header_bg_color;
	height: $header_phone_h;
	border-bottom: $thin_grey_border;
	text-align: center;
	position: fixed;
	z-index: 999;
	@media screen and (min-width: $break_sm) {
		height: $header_tablet_h;
	}
	@media screen and (min-width: $break_lg) {
		position: relative;
		height: $header_desktop_h;
	}
}


// Navigation
// ------------------

// -- Desktop
.main-nav {
	position: absolute;
	top: 0;
	width: 50%;
	float: left;
	border-top: $border_top_h solid $border_top_inactive;
}

.main-nav-left { 
	left: 0;
	padding-right: $brand_lg_size/2;

	ul { float: right; padding-right: 1em; }
} 

.main-nav-right { 
	right: 0;
	padding-left: $brand_lg_size/2;
} 


// -- Mobile Off Canvase

.off-canvas {
	right: 0;
	width: $offcanvas_xs_w;
	height: 100%;
	position: fixed;
	top: 0;
	background: $offcanvas_bg_color;
	z-index: 1;
	@media screen and (min-width: $break_sm) {
		width: $offcanvas_sm_w;
	}
}

// Content
// ------------------

nav,
section,
aside,
.col {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;    
	box-sizing: border-box;        
}

#outer-content-wrap {
	background: $main_body_bg;
	// padding-top: $header_phone_h;
	// @media screen and (min-width: $break_sm) {
	// 	padding-top: $header_tablet_h;
	// }
	// @media screen and (min-width: $break_lg) {
	// 	padding-top: 0;
	// }
}

.content-wrap {
	max-width: 750px;
	display: block;
	margin: 0 auto;
}

article {

	border-bottom: $thin_light_border;
	padding-top: 1px;

	@media screen and (min-width: $break-sm) {
		border: none;
	}
}

article > .inner {
	padding: 0 2.5em 0 2em;
}

aside { }
.aside-darker { background: $aside_body_bg; }

section {

	width: 100%;

}

.col {
	float: left;
	width: 100%;
}

@media screen and (min-width: $break_sm) {

	.col-sm-35 {
		width: 35%;
	}

	.col-sm-50 {
		width: 50%;
	}

	.col-sm-65 {
		width: 65%;
	}

}

@media screen and (min-width: $break_md) {

	.col-sm-50 {
		width: 50%;
	}


}

@media screen and (min-width: $break_lg) {

	.col-lg-20 { width: 20%; }
	.col-lg-25 { width: 25%; }
	.col-lg-30 { width: 30%; }

	.col-lg-50 { width: 50%; }

}





