// Settings 
// -------------------------------------------
// Settings instantiates and defines global variables such as mobile breakpoints,
// colors, and sizes of common elements.

// Mobile Breakpoints
// -------------
// xs = phone, md = regular tablet (iPad 1/2), xl = any desktop (macbook pro 
//13" or more)
$break_xs: 321px;
$break_sm: 601px;
$break_md: 769px;
$break_lg: 1025px;
$break_xl: 1281px;

// Font scaling
// -------------
// Set in 'html' tag, sets 'em' size
$main_font_size: 18px;
$mobile_font_size: 16px;

// Font stacks and styling
// -------------
$sans_font_stack: "Lato","Helvetica",sans-serif;
$serif_font_stack: "Lora","Georgia",serif;

$font_indent: 0; // Small indent for paragraphs and em
$text-shadow: 1px 1px 0px rgba(0,0,0,0.15);


// Main Colors
// -------------

// -- Greys
$grey: #4d4d4d;

// -- Default colors
$main_body_bg: #fff;
$content_body_darker_bg: lighten(#4d4d4d,68%);
$footer_bg_color: #333333;

// -- Text colors
$header_font_color: darken(#4d4d4d,10%);
$meta_font_color: lighten(#4d4d4d,40%);
$teaser_font_color: lighten(#4d4d4d,20%);
$blockquote_font_color: lighten(#4d4d4d,30%);
$blockquote_border_color: lighten(#4d4d4d,60%);

$main_nav_link_color: darken(#4d4d4d,5%);
$body_link_color: #3c80af;

$feed_item_hover_bg: lighten(#4d4d4d,68%);
$viewing_bg_color: lighten(#4d4d4d,64%);

$audio_tag_color: #245277;
$video_tag_color: #bc4b4b;

$facebook_color: #4a5aa2;
$twitter_color: #56a8d5;
$pinterest_color: #c13030;
$activity_color: #3c6480;

// Components
// ----------------------------------------------------------------------------
// Components include high level sections such as the body, header, content, 
// aside, etc..
 
// -- Wrappers
$max-body-width: 1280px;

// -- Header
$header_bg_color: #fff;

$header_phone_h: 58px;
$header_tablet_h: 70px;
$header_desktop_h: 72px;

// -- Site logo/branding
$brand_sm_size: 220px;
$brand_md_size: 325px;
$brand_lg_size: 350px;

// -- Desktop Navigation
$border_top_h: 4px;
$border_top_inactive: lighten(#4d4d4d,50%);
$border_top_active: lighten(#4d4d4d,20%);

// -- Mobile Off-Canvas Menu
$offcanvas_bg_color: darken(#4d4d4d,18%);
$offcanvas_xs_w: 80%;
$offcanvas_sm_w: 350px;

$mobile_nav_links_color: lighten(#4d4d4d,20%);
$mobile_nav_links_color_hover: lighten(#4d4d4d,50%);

// -- Feature graphic and slider settings
$feature_lg_h: 450px;
$feature_overlay_start: rgba(0,0,0,0.0);
$feature_overlay_end: rgba(0,0,0,0.85);

$post_banner_h: 500px;

// -- Sign Map
$map_phone_h :400px;
$map_tablet_h :500px;
$map_desktop_h :600px;

// -- Post Content
$post_header_padding_left: 3.75em;
$post_header_padding_bottom: 2.75em;
$post_content_padding_right: 2.5em;
$post_content_padding_left: 3em;

// -- Aside
$aside_header_font_color: #fff;
$aside_header_bg: lighten(#4d4d4d,45%);
$aside_header_bg_ligher: lighten(#4d4d4d,53%);
$aside_body_bg: lighten(#4d4d4d,68%);
$aside_gutter_w: 1em;

$viewing_marker_size: 20px;

$thin_grey_border: 1px solid lighten(#4d4d4d,60%);
$thin_light_border: 1px solid lighten(#4d4d4d,62%);

// -- Icons
$icon_default_size: 25px;
$icon_lg_size: 35px;

// -- Buttons
$btn_default_size: 35px;
$btn_lg_size: 45px;
$btn_xl_size: 55px;

// -- Forms
$input_padding: 0.5em 0.5em;
$input_bg_color: 1em;
$input_border: 1px solid lighten(#4d4d4d,40%);
$default_submit_color: #333;

// -- Offcanvas Search
$side_search_font_color: lighten(#4d4d4d,40%);

// -- Columns
$column_gutter: 0.5em 0.25em;

// Interactions
// -------------

// -- Nav Menu 
$offcanvas_open_speed: 0.375s;


