

.count-lg {
	font-size: 2em;
	font-weight: bold;
}




.sign-stats-wrap {
	padding: 2em 0;
}

.sign-stat {
	padding: 3em 1em;
}

.sign-description {
	padding: 3em;
}

.sign-form { 
	padding: 1em 1em 3em; 
}